unpackaged/main/default/flows/Product_Quick_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>append_list</name>
        <label>append_list</label>
        <locationX>604</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>list_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;r</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>AssemblySystem</name>
        <choiceText>Assembly System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assembly System</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudyBot</name>
        <choiceText>Cloudy Bot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CloudyBot</stringValue>
        </value>
    </choices>
    <choices>
        <name>RainbowBot</name>
        <choiceText>Rainbow Bot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RainbowBot</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Product_Family</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Product Quick Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Quick Search</label>
    <loops>
        <name>loop_Product</name>
        <label>loop Product</label>
        <locationX>457</locationX>
        <locationY>305</locationY>
        <assignNextValueToReference>currentProduct</assignNextValueToReference>
        <collectionReference>Product_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>append_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Products</name>
        <label>get Products</label>
        <locationX>489</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>radiochoice</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_Product_Type</name>
        <label>Choose Product Type</label>
        <locationX>254</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>gdfgfd</targetReference>
        </connector>
        <fields>
            <name>radiochoice</name>
            <choiceReferences>AssemblySystem</choiceReferences>
            <choiceReferences>CloudyBot</choiceReferences>
            <choiceReferences>RainbowBot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>radiochoice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>gdfgfd</name>
        <label>gdfgfd</label>
        <locationX>277</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Products</targetReference>
        </connector>
        <fields>
            <name>showChoice</name>
            <fieldText>{!radiochoice}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Products</name>
        <label>Show Products</label>
        <locationX>603</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_List</name>
            <fieldText>{!List_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Choose_Product_Type</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>List_Name</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The items are :</text>
    </textTemplates>
    <variables>
        <name>currentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>list_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The product list is : </stringValue>
        </value>
    </variables>
    <variables>
        <name>Product_Lists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
